<a href="https://colab.research.google.com/github/Sheha1218/Sentiment-Analysis/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install opendatasets

Requirement already satisfied: opendatasets in /usr/local/lib/python3.11/dist-packages (0.1.22)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from opendatasets) (4.67.1)
Requirement already satisfied: kaggle in /usr/local/lib/python3.11/dist-packages (from opendatasets) (1.7.4.5)
Requirement already satisfied: click in /usr/local/lib/python3.11/dist-packages (from opendatasets) (8.2.1)
Requirement already satisfied: bleach in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (2025.6.15)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (3.4.2)
Requirement already satisfied: idna in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (3.10)
Requirement already satisfied: protobuf in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (5.29.5)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (75.2.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (1.17.0)
Requirement already satisfied: text-unidecode in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (1.3)
Requirement already satisfied: urllib3>=1.15.1 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (2.4.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (0.5.1)

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf

In [ ]:
data=pd.read_csv('/content/twitter.csv')

In [ ]:
data.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [ ]:
data['hate_speech'].value_counts()

hate_speech
0    19790
1     3419
2     1251
3      287
4       21
5        7
6        5
7        3
Name: count, dtype: int64

In [ ]:
data['offensive_language'].value_counts()

offensive_language
3    13383
2     4246
0     3475
1     2066
6      857
5      369
4      251
9       66
8       37
7       33
Name: count, dtype: int64

In [ ]:
data.isnull().sum()

Unnamed: 0            0
count                 0
hate_speech           0
offensive_language    0
neither               0
class                 0
tweet                 0
dtype: int64

In [ ]:
data['count'].value_counts()

count
3    22807
6     1571
4      211
9      167
7       27
Name: count, dtype: int64

In [ ]:
len(data['tweet'])

24783

In [ ]:
import string
import re

In [ ]:
data['tweet']=data['tweet'].apply(lambda x:x.lower())

In [ ]:
data['tweet']=data['tweet'].str.replace('!','',regex=False)

In [ ]:
data['tweet'].head()

0     rt @mayasolovely: as a woman you shouldn't co...
1     rt @mleew17: boy dats cold...tyga dwn bad for...
2     rt @urkindofbrand dawg rt @80sbaby4life: you ...
3     rt @c_g_anderson: @viva_based she look like a...
4     rt @shenikaroberts: the shit you hear about m...
Name: tweet, dtype: object

In [ ]:
data['tweet'] = data['tweet'].apply(lambda x:re.sub(r'@\w+','',x))

In [ ]:
data['tweet'].head()

0     rt : as a woman you shouldn't complain about ...
1     rt : boy dats cold...tyga dwn bad for cuffin ...
2     rt  dawg rt : you ever fuck a bitch and she s...
3                         rt :  she look like a tranny
4     rt : the shit you hear about me might be true...
Name: tweet, dtype: object

In [ ]:
def remove_punctu(text):
  for punctuation in string.punctuation:
    text=text.replace(punctuation,'')
    return text
data['tweet']=data['tweet'].apply(remove_punctu)

In [ ]:
data['tweet'].head()

0     rt : as a woman you shouldn't complain about ...
1     rt : boy dats cold...tyga dwn bad for cuffin ...
2     rt  dawg rt : you ever fuck a bitch and she s...
3                         rt :  she look like a tranny
4     rt : the shit you hear about me might be true...
Name: tweet, dtype: object

In [ ]:
def remove_rt(utext):
  utext=utext.replace('rt :','')
  return utext

data['tweet']=data['tweet'].apply(remove_rt)

In [ ]:
data['tweet'].head()

0      as a woman you shouldn't complain about clea...
1      boy dats cold...tyga dwn bad for cuffin dat ...
2     rt  dawg  you ever fuck a bitch and she start...
3                               she look like a tranny
4      the shit you hear about me might be true or ...
Name: tweet, dtype: object

In [ ]:
data.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,as a woman you shouldn't complain about clea...
1,1,3,0,3,0,1,boy dats cold...tyga dwn bad for cuffin dat ...
2,2,3,0,3,0,1,rt dawg you ever fuck a bitch and she start...
3,3,3,0,2,1,1,she look like a tranny
4,4,6,0,6,0,1,the shit you hear about me might be true or ...

In [ ]:
data['label']=data['class'].map({0:'hate_speech',1:'offensive_language',2:'Normal'})

In [ ]:
data[['tweet','label']].head()

                                               tweet               label
0    as a woman you shouldn't complain about clea...              Normal
1    boy dats cold...tyga dwn bad for cuffin dat ...  offensive_language
2   rt  dawg  you ever fuck a bitch and she start...  offensive_language
3                             she look like a tranny  offensive_language
4    the shit you hear about me might be true or ...  offensive_language

In [ ]:
import spacy as spy

In [ ]:
nlp = spy.load('en_core_web_sm')

In [ ]:
x=data['tweet']
y=data['label']

In [ ]:
doc = list(nlp.pipe(x))

In [ ]:
filtered_tokens = []
for doc in doc:
  tokens = [token.lemma_ for token in doc if not token.is_stop and not token.is_punct]
  filtered_tokens.append(tokens)

In [ ]:
cleaned_tweets = [' '.join(tokens) for tokens in filtered_tokens]
x = cleaned_tweets

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.1)

In [ ]:
data['label'].value_counts()

label
offensive_language    19190
Normal                 4163
hate_speech            1430
Name: count, dtype: int64

In [ ]:
pip install imblearn

Collecting imblearn
  Downloading imblearn-0.0-py2.py3-none-any.whl.metadata (355 bytes)
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.11/dist-packages (from imblearn) (0.13.0)
Requirement already satisfied: numpy<3,>=1.24.3 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn->imblearn) (2.0.2)
Requirement already satisfied: scipy<2,>=1.10.1 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn->imblearn) (1.15.3)
Requirement already satisfied: scikit-learn<2,>=1.3.2 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn->imblearn) (1.6.1)
Requirement already satisfied: sklearn-compat<1,>=0.1 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn->imblearn) (0.1.3)
Requirement already satisfied: joblib<2,>=1.1.1 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn->imblearn) (1.5.1)
Requirement already satisfied: threadpoolctl<4,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn->imblearn) (3.6.0)
Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Installing collected packages: imblearn
Successfully installed imblearn-0.0

In [ ]:
from imblearn.over_sampling import SMOTE
smote=SMOTE()

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
cv=CountVectorizer()

In [ ]:
cv = CountVectorizer()
x_train_cv = cv.fit_transform(x_train)
x_test_cv = cv.transform(x_test)

In [ ]:
x_smote, y_smote = smote.fit_resample(x_train_cv, y_train)

In [ ]:
x_train=x_smote
y_train=y_smote

In [ ]:
from sklearn.naive_bayes import MultinomialNB

In [ ]:
model=MultinomialNB()

In [ ]:
model=model.fit(x_train,y_train)

In [ ]:
prediction = model.predict(x_test_cv)

In [ ]:
prediction

array(['Normal', 'Normal', 'offensive_language', ...,
       'offensive_language', 'offensive_language', 'Normal'], dtype='<U18')

In [ ]:
y_test

10721                Normal
21537                Normal
20241    offensive_language
86       offensive_language
4388     offensive_language
                ...
14007    offensive_language
10301    offensive_language
22910    offensive_language
21045    offensive_language
14060                Normal
Name: label, Length: 2479, dtype: object

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_test,prediction)

0.8632513110125051

In [ ]:
import pickle

In [ ]:
with open('twitter_model.pickle','wb') as file:
  pickle.dump(model,file)